@use "../../colors.scss";

.site-assessoria1 {
  .secao-footer {
    position: relative;
    background-color: colors.$cor-alternativa;
    padding: 20px;
    // min-height: 400px;
    box-shadow: 1px 1px 8px rgba($color: colors.$cor-primaria, $alpha: 1);
    .footer-col-identidade {
      position: relative;
      text-align: center;
      .logo {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: colors.$cor-base;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .texto {
        margin-top: 5px;
        p {
          font-size: 1.1rem;
          font-weight: 500;
          color: colors.$cor-base;
        }
      }
    }
    .footer-col-navegacao {
      text-align: center;
      h4 {
        // color: red;
        color: colors.$cor-base1;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 5px;
          a {
            color: colors.$cor-base;
            text-decoration: none;
            font-size: 1.05rem;
          }
        }
      }
    }
    .footer-col-contato {
      text-align: center;
      h4 {
        // color: red;
        color: colors.$cor-base1;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 5px;
          p {
            color: colors.$cor-suave;
            font-size: 1.05rem;
            margin: 0;
            overflow-wrap: break-word;
          }
        }
      }
    }
    .footer-col-sociais {
      text-align: center;
      h4 {
        color: colors.$cor-base1;
      }
      .redes {
        position: relative;
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
        .rede-social {
          width: fit-content;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            scale: 1.1;
          }
          .icone {
            position: relative;
            width: 40px;
            height: 40px;
            // background-color: colors.$cor-base;
            svg {
              width: 100%;
              height: 100%;
              color: colors.$cor-base;
            }
          }
        }
      }
    }
    .copyright {
      position: relative;
      margin-top: 20px;
      color: colors.$cor-base;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: colors.$cor-base;
        width: 100%;
        height: 2px;
        border-radius: 10px;
      }
      p {
        padding-top: 10px;
        text-align: center;
        overflow-wrap: break-word;
      }
    }
  }
}
