@use "../../colors.scss";

.servico {
  position: relative;
  background-color: white;
  width: 270px;
  height: 510px;
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid colors.$cor-primaria;
  .icon-placeholder {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    svg {
      width: 100%;
      height: 100%;
      color: colors.$cor-destaque;
    }
  }
  .descricao {
    p {
      font-size: 1.5rem;
      font-weight: 500;
      color: colors.$cor-secundaria;
      line-height: 2rem;
      height: calc(2rem * 3);
    }
  }
  .items {
    height: 180px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: colors.$cor-base1;
    }
    &::-webkit-scrollbar-thumb {
      background: colors.$cor-destaque1;
    }
    ul {
      li {
        color: colors.$cor-secundaria;
        font-size: 1.1rem;
      }
    }
  }
  .cta-button {
    padding-top: 20px;
    .btn {
      background-color: colors.$cor-destaque;
      border-color: colors.$cor-destaque;
      color: colors.$cor-primaria;
      width: 100%;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: colors.$cor-secundaria;
        border-color: colors.$cor-secundaria;
        color: colors.$cor-base;
      }
    }
  }
}
