@use "../../colors.scss";

.navbar-custom {
  background-color: colors.$cor-branca;
  height: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  .navbar-brand {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    .logo {
      width: 50px;
      max-height: 50px;
      transition: transform 0.3s ease;
      object-fit: cover;
      border-radius: 50%;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 15px;
    background-color: colors.$cor-branca;
    border-radius: 8px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;

    .nav-link {
      color: colors.$cor-texto-principal;
      font-weight: 500;
      padding: 8px 16px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: colors.$cor-detalhe-clara;
        transform: translateY(-3px);
      }
    }
  }

  .cta-btn {
    background-color: colors.$cor-destaque;
    color: colors.$cor-branca;
    border: none;
    padding: 10px 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: colors.$cor-acao-positiva;
      transform: translateY(-3px);
    }
  }

  @media (max-width: 991px) {
    .navbar-nav {
      display: block;
      text-align: center;
      margin: 0;
    }

    .cta-btn {
      margin-top: 15px;
      width: 100%;
    }

    .logo {
      max-height: 45px;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
      text-align: center;
    }

    .cta-btn {
      margin-top: 10px;
    }
  }

  &:hover {
    background-color: colors.$cor-secundaria-clara;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    .navbar-nav {
      background-color: colors.$cor-secundaria-clara;
      //   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }
  }
}
