@use "../../colors.scss";
.site-assessoria1 {
  .pagina-inicial {
    .secao-sobrenos {
      position: relative;
      width: 100%;
      padding: 40px;
      .titulo {
        text-align: center;
        p {
          position: relative;
          width: fit-content;
          left: 50%;
          transform: translateX(-50%);
          padding: 5px 10px 5px 10px;
          border-radius: 5px;
          margin: 0;
          font-weight: 500;
          color: colors.$cor-suave2;
          background-color: colors.$cor-suave1;
        }
        h2 {
          color: colors.$cor-primaria;
        }
      }
      .sobrenos-container {
        position: relative;
        margin-top: 25px;
        .imagemcta-container {
          position: relative;

          width: fit-content;
          .imagem-placeholder {
            position: relative;
            width: 280px;
            height: 320px;
            background-color: colors.$cor-destaque;
            overflow: hidden;
            border-radius: 10px;
            // box-shadow: 1px 1px 8px rgba(colors.$cor-primaria, 0.3);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .carousel {
          .carousel-indicators {
            button {
              background-color: colors.$cor-destaque;
            }
          }
        }
        .conteudo {
          position: relative;
          min-width: 300px;
          height: 400px;
          max-width: 450px;
          margin-top: 10px;
          padding: 10px;
          border: 2px solid colors.$cor-primaria;
          border-radius: 5px;
          flex-shrink: 0;
          // height: 500px;
          .titulo-conteudo {
            position: relative;
            padding-right: 10px;
            padding-left: 10px;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              border-radius: 10px;
              background-color: colors.$cor-primaria;
            }
            p {
              font-size: 1.3rem;
              font-weight: 500;
              padding: 0px 0 5px 0;
              margin: 0;
              color: colors.$cor-primaria;
            }
          }
          .texto {
            position: relative;
            margin-top: 15px;
            width: 100%;
            p {
              color: colors.$cor-secundaria;
              font-weight: 400;
              font-size: 1rem;
            }
          }
          .btn {
            position: absolute;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15px;
            background-color: colors.$cor-destaque;
            border-color: colors.$cor-destaque;
            color: colors.$cor-primaria;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
            box-shadow: 1px 1px 8px rgba(colors.$cor-primaria, 0.3);
            &:hover {
              background-color: colors.$cor-secundaria;
              border-color: colors.$cor-secundaria;
              color: colors.$cor-base;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .site-assessoria1 {
    .pagina-inicial {
      .secao-sobrenos {
        .sobrenos-container {
          .imagemcta-container {
            .imagem-placeholder {
              width: 480px;
              height: 400px;
            }
          }
          .conteudo {
            height: 320px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .site-assessoria1 {
    .pagina-inicial {
      .secao-sobrenos {
        .sobrenos-container {
          .imagemcta-container {
            flex-shrink: 0;
            .imagem-placeholder {
              flex-shrink: 0;
              width: 480px;
              height: 400px;
            }
          }
        }
      }
    }
  }
}
